@import "tailwindcss";

.animated-gradient {
  background: linear-gradient(
    -45deg,
    #ffffff,
    #f8fafc,
    #dbeafe,
    #eef2ff
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}